:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-hover: #5a9beb;
    --botao-preto-hover: #010614;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'Inter', sans-serif;
}

.principal {
    /* display: flex;
    margin-left: 54px; */
    display: grid;
    grid-template-columns: 50% 25% 25%;
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.principal__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 6em;

}

.principal__titulo {
    text-align: center;
    line-height: 34px;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
}

.principal__combo {
    margin: 1em 0 4em 0;
}

.principal__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
}

.principal__botoes a {
    text-decoration: none;
    color: var(--branco-principal);
    width: 400px;
    text-align: center;
    border: 1px solid var(--branco-principal);
    border-radius: 8px;
    padding: 16px 100px;
}

.principal__botoes a:hover {
    background-color: var(--botao-azul-hover);
}

.principal__botoes-azul {
    background-color: var(--botao-azul);
    border-color: var(--botao-azul);
}

.principal__asterisco {
    color: var(--cinza-secundario);
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

.principal__background {
    height: 100%;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-weight: 700;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
}

.dispositivos__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0 300px 200px 300px;
    font-size: 32px;
}

.rodape {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 300px 100px 300px;
}

.rodape__logo {
    max-width: 102px;
    align-self: center;
}

.rodape__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.rodape__links a {
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__links a:hover {
    color: var(--botao-azul);
}

.rodape__links a:active {
    color: purple;
}

.rodape__direitos {
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape__disclaimer {
    color: var(--cinza-secundario);
    font-size: 14px;
}