:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'Inter', sans-serif;
}

.principal {
    /* display: flex;
    margin-left: 54px; */
    display: grid;
    grid-template-columns: 50% 25% 25%;
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.principal__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 6em;

}

.principal__titulo {
    text-align: center;
    line-height: 34px;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
}

.principal__combo {
    margin: 1em 0 2em 0;
}

.principal__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
}

.principal__botoes a {
    text-decoration: none;
    color: var(--branco-principal);
    width: 400px;
    text-align: center;
    border: 1px solid var(--branco-principal);
    border-radius: 8px;
    padding: 16px;
}

.principal__botoes a:nth-child(1) {
    background-color: var(--botao-azul);
    border-color: var(--botao-azul);
}

.principal__asterisco {
    color: var(--cinza-secundario);
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

.principal__background {
    height: 100%;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-weight: 700;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
}

.dispositivos__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0 300px 145px 300px;
    font-size: 32px;
}