:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #cccccc;
    /* --cor-de-fundo: #00030C; */
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'Inter', sans-serif;
}

.principal {
    display: flex;
    margin-left: 54px;
}

.principal__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.principal__titulo {
    text-align: center;
    line-height: 34px;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
}

.principal__combo {
    margin-bottom: 54px;
}

.principal__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
}

.principal__botoes a {
    width: 400px;
    text-align: center;
    border: 1px solid var(--branco-principal);
    border-radius: 8px;
    padding: 16px;
}

.principal__botoes a:nth-child(1) {
    background-color: var(--botao-azul);
    border-color: var(--botao-azul);
}

.principal__asterisco {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

.principal__background {
    height: 100%;
}
